<nav class="navbar">
  <div class="navbar-brand">
    <span>Funkooo</span>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item"><a href="">Home</a></li>
    <li class="navbar-item"><a href="">Categories</a></li>
    <li class="navbar-item"><a href="">About</a></li>
  </ul>
</nav>